.button {
    background-color: #800000; /* Green */
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.readmebutton {
    background-color: #000000; 
    padding: 15px 100px;
}
.ngonbutton {
    background-color: #008080; /* Green */
}
