.button {
    background-color: #800000; /* Green */
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.readmebutton {
    background-color: #000000; 
    padding: 15px 100px;
}
.ngonbutton {
    background-color: #008080; 
}
.snakebutton {
    background-color: #4CAF50; 
}
.eagbutton {
    background-color: #00b182; 
}
.evilbutton {
    background-color: #00A36C; 
}
.chessbutton {
    background-color: #1F51FF; 
}
.helibutton {
    background-color: #4e0b89; 
}
.chromebutton {
    background-color: #4F7942; 
}
.sandbutton {
    background-color: #228B22; 
}